# Datu apstrāde un analīze
pandas
numpy
scikit-learn
joblib
imbalanced-learn

# Vizualizācija
matplotlib
seaborn

# GUI bibliotēkas
PyQt5

# Tīkla un komunikācijas bibliotēkas
python-opcua

# Citi
pillow
